html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 16px;
    }
}
@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}
@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}

body
{
    font-family: Comfortaa, sans-serif;
    background-image: url('/bg.gif');
}
.card
{
    -moz-box-shadow: 0 0 4px #aaaaaa;
    -webkit-box-shadow: 0 0 4px #aaaaaa;
    box-shadow: 0 0 4px #aaaaaa;
}
.cursive
{
    font-family: Satisfy, cursive;
}
pre
{
    border: 1px dashed #eeeeee;
    background-color: white;
}
th.verse
{
    color: #f2dede;
}
th.tech
{
    color: #d9edf7;
}
