body
{
    font-family: 'PT Serif', sans-serif;
    background-image: url('/bg.gif');
}
.card
{
    -moz-box-shadow: 0 0 4px #aaaaaa;
    -webkit-box-shadow: 0 0 4px #aaaaaa;
    box-shadow: 0 0 4px #aaaaaa;
}
.cursive
{
    font-family: Satisfy, cursive;
}
th.verse
{
    color: #f2dede;
}
th.tech
{
    color: #d9edf7;
}
