body
{ 
    font-family: 'Ubuntu', sans-serif; 
    background-image: url('/bg.gif');
}
h4
{
    font-family: 'Ubuntu', sans-serif; 
}
.cursive
{
    font-family: 'Milonga', cursive;
    text-shadow: 2px 2px 2px #aaa;
}
pre
{
    border: 0px;
    background-color:white;
}
blockquote p
{
    font-size:14px;
}