{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h1> {{ article.title }} </h1>

<ul class="breadcrumb">
  <li><i class="icon-calendar"></i>{{article.locale_date}}</li>
  {% if article.tags %}
  {% for tag in article.tags %}
  <li><i class="icon-tag"></i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
  {% endfor %}
  {% endif %}
  <li class="pull-right hidden-phone">
    <i class="icon-comment"></i>
    <a href="#feedback" data-toggle="modal">Comments?</a>
  </li>
</ul>
{{ article.content }}
<!-- Comments -->
<div id="feedback" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="disqus_thread"></div>
  <div class="modal-footer">
    <center>
      <button class="btn btn-large btn-primary" data-keyboard="true" data-dismiss="modal" aria-hidden="true">Dismiss</button>
    </center>
  </div>
</div>
{% endblock %}
 
