{% extends "base.html" %}
{% block title %} Aldrin's Notebook {%endblock%}
{% block feed %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="Aldrin's Notebook Feed" />
{% endblock %}
{% block content %}        
<center><h1>Aldrin's Notebook</h1>
  <p>
    "The time has come," the Walrus said,<br/>
    "To talk of many things:<br/>
    Of shoes and ships and sealing-wax<br/>
    Of cabbages and kings<br/>
    And why the sea is boiling hot<br/>
    And whether pigs have wings."
  </p>
</p>
</center>
{% include 'listing.html' %}
{% endblock content %}
