<!DOCTYPE html>
{% include tagfolder %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="author" content="Aldrin D'Souza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{feed}}" type="application/atom+xml" rel="alternate" title="{{feed_title}}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy|PT+Serif:400,700" > 
        <link rel="stylesheet" type="text/css" href="/css/code.css">
        <link rel="stylesheet" type="text/css" href="/css/ajdweb.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="card bg-light mx-auto m-4 rounded-right border-light border">
                    {{content}}
                    <div class="card-footer">
                        {% include footer %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
