<!DOCTYPE html>
{% include tagfolder %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Aldrin D'Souza">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{feed}}" type="application/atom+xml" rel="alternate" title="{{feed_title}}"/>
    <meta name="google-site-verification" content="WgWezQUyzDnfImQwdhZtLV7Sx8VBOgt9vCnOqgbhF7s"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Milonga" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">
    <link rel="stylesheet" type="text/css" href="/css/ajdweb.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <h1 class="cursive">
            {% if page.tag %}<i class="fa fa-tag"></i>{% endif %}
            {% if page.index %}<i class="fa fa-book"></i>{% endif %}
            {{page.title}}
          </h1>
          {{content}}
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- {% include external %} -->
  </body>
</html>

