---
layout: base
---
<div class="panel panel-default">
  <div class="panel-heading">
    {% for tag in page.tags %}
    <i class="fa fa-tag"></i> <a href="/tags/{{tag|downcase|replace:'c++','cpp'}}/">{{ tag }}</a>
    {% endfor %}
    <span class="pull-right hidden-xs">
      <i class="fa fa-calendar"></i> {{ page.date | date: "%B %d, %Y" }}
      <i class="fa fa-comment"></i> <a data-toggle="modal" href="#feedback">Comments</a>
    </span>
  </div>
  <div class="panel-body">
    {{ content }}
  </div>
  <div class="panel-footer">
    {% include footer %}
  </div>
</div>

<!-- Disqus Modal Dialog -->
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Have something to say?</h4>
      </div>
      <div class="modal-body">
        <div id="disqus_thread"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


